


<!DOCTYPE HTML>
<html>

<head>
	<title>Enhanced Education</title>
	<link rel="stylesheet" href="style/new.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<!-- Navigation -->

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
		  <a class="navbar-brand" href="#">Enhanced Education</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
		  <div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
			  <li class="nav-item active">
				<a class="nav-link" href="#">Home
					  <span class="sr-only">(current)</span>
					</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#">About</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#">Services</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#">Contact</a>
			  </li>
              <a href="/users/logout" class="btn btn-secondary">Logout</a>
			</ul>
		  </div>
		</div>
	  </nav>

	

</head>

<body style="margin-top: 56px;">

    <p class="lead mb-3">Welcome <%= user.name %></p>

<div class="container-fluid" >

	<ul class="nav nav-pills">
		<li class="nav-item">
		  <a class="nav-link active" aria-current="page" href="#">Active</a>
		</li>
		<li class="nav-item dropdown">
		  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
		  <ul class="dropdown-menu">
			<li><a class="dropdown-item" href="#">Action</a></li>
			<li><a class="dropdown-item" href="#">Another action</a></li>
			<li><a class="dropdown-item" href="#">Something else here</a></li>
			<li><hr class="dropdown-divider"></li>
			<li><a class="dropdown-item" href="#">Separated link</a></li>
		  </ul>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="#">Link</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
		</li>
	  </ul>

	

</div>
	
	  <div class="container bs-docs-container" id="content">
		<h1>Introduction</h1>


      <div id="1st info">
		<h2 data-fontsize="25" data-lineheight="30">Introduce the concept using countable manipulatives</h2>

		<p>Using countable manipulatives (physical objects) will make addition concrete and much easier to understand. It’s important to use a variety so students begin to understand the concept independent of what’s being counted.</p>
		<p>Counting on fingers is the most intuitive place to start before you transition to tokens, bottle caps, or paper cutouts. If you want to incorporate some movement, put students in small groups and have them join up, counting out the total number of members once more are added.</p>
		<h2 data-fontsize="25" data-lineheight="30">Transition to visuals</h2>
		<p>Start transferring addition to paper by using illustrated sums, or having students draw objects they can count.</p>
		<p>It’s best if you put visuals alongside numbers to promote association between the two. Consider using a&nbsp;<strong>graphic organizer</strong>&nbsp;with the sum written across the top and a space for drawing under each number.</p>
        <h2 data-fontsize="25" data-lineheight="30">Use a number line</h2>
		<p>At this stage, most students will still be adding by counting out every number in a sum to reach the total solution. A number line, however, removes the need to count out the first number in the sum.</p>
		<p><span class="fusion-imageframe imageframe-none imageframe-6 hover-type-none"><img loading="lazy" class="img-responsive wp-image-147649" src="https://cdn.3plearning.com/wp-content/uploads/2020/09/number-line.jpg" sizes="(max-width: 800px) 100vw, 767px" srcset="https://cdn.3plearning.com/wp-content/uploads/2020/09/number-line-200x40.jpg 200w, https://cdn.3plearning.com/wp-content/uploads/2020/09/number-line-400x79.jpg 400w, https://cdn.3plearning.com/wp-content/uploads/2020/09/number-line.jpg 589w" alt="number line used for teaching addition" width="589" height="117"></span></p>
		<p>If the sum is 4 + 3, for example, students can put their finger on the four to start with, and then count up three places to reach 7. They no longer need to count out the 4 first to reach the solution.</p>
		<!--NUMBER LINE VIDEO-->
		<iframe width="320" height="240" src="https://www.youtube.com/embed/tp9n4kMTuQo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		  
        

	  </div>








	  </div>

	  


  

</body>


</html>
