.nav-pills{
    background-color: lightslategrey;
  }

  #content{
    padding: 3rem;
    background-color: #eff0f1;
    text-align: left;
  }

  .h2{
    font-size:5rem;
    line-height: 1.35;
    font-weight: 700;
  }

  .h1, h2, h3, h4, h5, h6, p, pre, ul{
    margin-bottom: 1rem;
  }